<!DOCTYPE html>
<html lang="en" ng-app="mapper">

<head>
  <link rel="stylesheet" type="text/css" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <title>Hello WOrld</title>
</head>

<body  ng-controller="mainController">
  Hello TEST
  

  <script src="/static/node_modules/angular/angular.min.js"></script>
  <script src="/static/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
  
  <script src="/static/app/app.js"></script>
  <script src="/static/app/mainController.js"></script>
  
</body>


</html>
  
